

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/static/wings.png');
    background-size: 300px;
    background-position: center;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px; 
    position: relative;
    z-index: 10;
    width: 100%; 
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

p {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: calc(100% - 12px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

span[style="color: red;"] {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.Regresar{
    background-color: #007bff; /* Un color grisáceo diferente al azul de registrar */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Eliminar el subrayado del enlace */
    display: inline-block; /* Para que respete el padding y el width si lo aplicamos */
    width: 100%; /* Ocupar el mismo ancho que el botón de registrar */
    box-sizing: border-box; /* Incluir padding y border en el ancho */
    text-align: center; /* Centrar el texto dentro del enlace */
    margin-top: 10px; /* Espacio entre el botón de registrar y el enlace */
}

.Regresar:hover {
    background-color: #b31b00; /* Un tono más claro al hacer hover */
}
