
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
}

header {
    background-color: #222;
    color: #fff;
    padding: 0.8em 20px;
    z-index: 100;
}

.user-info a {
    text-decoration: none;
    color: inherit; 
}


.user-info a:hover {
    
    color: #0f99f1;
}

.post .post_action a {
    text-decoration: none;
    color:#da528c;
  }

.post_action a:hover
{
    text-decoration: double;
    color:#0f99f1;
}

  .suggestions a {
    color:#000000;
    text-decoration: none;
  }
  

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

nav ul.logo-container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-grow: 0; 
}

nav ul.logo-container li {
    margin: 0;
}

nav ul.logo-container li a.logo {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav ul.logo-container li a.logo img {
    max-height: 100px; 
    vertical-align: middle;
    margin-right: 10px;
    width: auto;
}

.search-banner {
    display: flex;
    align-items: center;
    margin: 10px 20px;
    flex-grow: 1; 
    justify-content: center; 
}

.search-banner input[type="text"] {
    padding: 0.6em;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 0.9em;
    color: #333;
    width: 600px;
    max-width: 100%;
}

.search-banner button[type="submit"] {
    background-color: #da528c;
    color: #0f99f1;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 0.6em 1em;
    cursor: pointer;
    font-size: 1.em;
    transition: background-color 0.3s ease;
}

.search-banner button[type="submit"]:hover {
    background-color: #df9f87;
}

.auth-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-grow: 0;
}


.auth-buttons a {
    background-color: #0f99f1;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    padding: 0.5em 0.8em;
    transition: background-color 0.3s ease;
    font-size: 1.0em;
    text-decoration: none;
}

.auth-buttons a:hover {
    background-color: #0056b3;
}

main.container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
}

main.container > * { 
    margin-left: 10px; 
    margin-right: 10px; 
  }

section.post-feed {
    flex: 3;
}

section.post-feed h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

div.post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}



footer {
    text-align: center;
    padding: 1em 0;
    background-color: #222;
    color: #fff;
    width: 100%;
    margin-top: auto; 
}



aside#crear-post {
    flex: 0 0 300px; 
    padding: 15px;
    background-color: #129eefd5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    order: 0; 
}
section.post-feed {
    flex: 2; 
    order: 1; 
}

aside.sidebar {
    flex: 0 0 250px; 
    padding: 15px;
    background-color: #da528c; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    order: 2; 
}

aside#crear-post h2 {
    color: #333333;
    border-bottom: 1px solid #000000a2;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    font-size: 1.2em;
}

aside#crear-post textarea {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    margin-top: 1em; 
}

aside#crear-post button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.8em 1.2em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Ocupar todo el ancho del aside */
    box-sizing: border-box;
}

aside#crear-post button[type="submit"]:hover {
    background-color: #0056b3;
}

section.post-feed {
    flex: 2; 
    order: 0; 
}

section.post-feed h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}





@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5em 15px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul.logo-container {
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
        justify-content: flex-start;
    }
    

    nav ul.logo-container li a.logo img {
        max-height: 25px;
    }

    .search-banner {
        margin: 10px 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .search-banner input[type="text"] {
        width: 70%;
    }

    .search-banner button[type="submit"] {
        width: 30%;
    }

    .auth-buttons {
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }

    .auth-buttons a {
        margin-left: 0;
        margin-right: 10px;
        margin-bottom: 0;
    }

    main.container {
        flex-direction: column;
    }

    aside.sidebar {
        order: -1;
        margin-bottom: 20px;
    }
}