<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logeo Con - WINGS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="{{ url_for('static', filename='wings.png') }}" type="image/png">
</head>

<body>

    <header>
        <nav>
            <ul class=" logo-container">
                <li><a href=" {{url_for('posts')}} " class="logo"></a>
                    <img src=" {{url_for('static', filename='wings.png')}}" alt="logo"></li>

            </ul>
            <ul class="auth-buttons">
                <li><a href="/registro">Registrarse</a></li>
                <li><a href="/login">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <div class="login-container">
            <h1>INICIAR SESION</h1>
            {% with messages = get_flashed_messages(category_filter=['danger', 'success', 'info']) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for message in messages %}
                            <p class="{{ category }}"> {{ message }} </p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form method="POST" action=" {{url_for('login')}} ">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.identificar.label }}<br>
                    {{ form.identificar(class="form-control") }}
                    {% if form.identificar.errors %}
                        <ul class="errors">
                            {% for error in form.identificar.errors %}
                                <li> {{ error }} </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.contraseña.label }}<br>
                    {{ form.contraseña(class="form-control") }}
                    {% if form.contraseña.errors %}
                        <ul class="errors">
                            {% for error in form.contraseña.errors %}
                                <li> {{ error }} </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group form-check">
                    {{ form.recordar(class="form-check-input") }}
                    {{ form.recordar.label(class="form-check-label") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
                <p>No tienes cuenta? <a href=" {{url_for('registro')}} ">Ingresa aqui</a>.</p>

            </form>
        </div>
    </main>
    <footer>
        <p> &copy; 2025 Wings - Derechos reservados para FELIPE ORTIZ HERRERA </p>
    </footer>
</body>
</html>